<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href = "/static/css/style.css">
    <title>Donation App</title>
</head>
<body>
    <header id ="main-header">
        <div class = "container">
            <h1>NGO Donation Receipt Application</h1>
        </div>
    </header>
    <nav id = "navbar">
        <div class="container">
            <li><a href ="/">Home</a></li>
            <li><a href="/createOrganization">Create Organization</a></li>
            <li><a href="/selectOrganization">Select Organization</a></li>
        </div>
    </nav>

</body>
</html>